In [5]:
import pandas as pd

# Load the data
filename = 'data/modified_final_df.csv'
df = pd.read_csv(filename, sep=',', index_col=0)

df.shape[0]

# Split the data into commercial and residential dataframes
residential_df = df[df['ISPRIVATEPERSON'] == 'Ja']
commercial_df = df[df['ISPRIVATEPERSON'] == 'Nej']

# Ensure 'DateTime' is a datetime column
commercial_df['DateTime'] = pd.to_datetime(commercial_df['DateTime'])
residential_df['DateTime'] = pd.to_datetime(residential_df['DateTime'])

# Get the unique years from the 'DateTime' column
years = commercial_df['DateTime'].dt.year.unique()

# Loop through each year and create separate DataFrames and CSVs
for year in years:
    # Filter by year for commercial
    commercial_year_df = commercial_df[commercial_df['DateTime'].dt.year == year]
    commercial_csv_filename = f'data/yearlyData/commercial_df_{year}.csv'
    commercial_year_df.to_csv(commercial_csv_filename, sep=',')
    
    # Filter by year for residential
    residential_year_df = residential_df[residential_df['DateTime'].dt.year == year]
    residential_csv_filename = f'data/yearlyData/residential_df_{year}.csv'
    residential_year_df.to_csv(residential_csv_filename, sep=',')

/var/folders/bl/02tnlb3j63n87b_hctf4mh380000gq/T/ipykernel_21341/2080001952.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial_df['DateTime'] = pd.to_datetime(commercial_df['DateTime'])
/var/folders/bl/02tnlb3j63n87b_hctf4mh380000gq/T/ipykernel_21341/2080001952.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  residential_df['DateTime'] = pd.to_datetime(residential_df['DateTime'])

# Always 2 steps before modeling using timeseries 1) Convert 'DateTime' to datetime if it's not already 2) Set 'DateTime' as index

In [20]:
# Convert 'DateTime' to datetime if it's not already
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [21]:
# Set 'DateTime' as index
df.set_index('DateTime', inplace=True)

In [22]:
df

,CUSTOMER,AREA,ISPRIVATEPERSON,Power_Consumption,One_Day_Power,One_Day_Power_NaN,Air Temperature 1 Min_P19,Air Temperature 2 Max_P27,Air Temperature 2 Min_P26,Dew Point Temperature_P39,Precipitation_P7,Relative Humidity_P6,Wind Speed_P4,Price
DateTime,,,,,,,,,,,,,,
2023-01-01 00:00:00,1060603900,Kvarnholmen,Nej,0.000088,0.002143,0,NaN,NaN,NaN,7.2,NaN,93.0,2.0,1.38
2023-01-01 00:00:00,1060614611,Malmen,Nej,0.002161,0.050476,0,NaN,NaN,NaN,7.2,NaN,93.0,2.0,1.38
2023-01-01 00:00:00,1060661552,Berga,Nej,0.003449,0.093073,0,NaN,NaN,NaN,7.2,NaN,93.0,2.0,1.38
2023-01-01 00:00:00,1060760034,Malmen,Nej,0.001338,0.032199,0,NaN,NaN,NaN,7.2,NaN,93.0,2.0,1.38
2023-01-01 00:00:00,1060603221,Kvarnholmen,Nej,0.001050,0.028643,0,NaN,NaN,NaN,7.2,NaN,93.0,2.0,1.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 23:00:00,1060619312,Malmen,Nej,0.006591,0.133117,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
2023-12-31 23:00:00,1060619299,Malmen,Nej,0.020784,0.597084,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
2023-12-31 23:00:00,1060619200,Malmen,Nej,0.000412,0.022576,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
2023-12-31 23:00:00,1060619139,Malmen,Nej,0.000028,0.000687,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
2023-12-31 23:00:00,2411372971,Malmen,Nej,0.000000,0.000000,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56